body{
	/*margin-top: 10%;*/
	background-image: url('../img/background.jpg'); 
	background-repeat: repeat;
}

hr{
	border-color: #ccc;
}

.span90{
	width: 90px;
}

.header {
	background-color: #0000ff;
}

.bodyAdmin{
	background-color: #000000;
	width: 1100px;
	margin: 0 auto;
}


.bodyAdmin .row-admin{
	margin-left: 0px;
}

.bodyAdmin .banner{
	background-color: #ccc;
	height: 210px;
	background-image: url('../img/banner.jpg'); 
}

.bodyAdmin .leftMenu{
	background-color: rgb(246, 255, 140);
	width: 200px;
	height: 921px;
	float: left;
	font-size: 14px;
}

.bodyAdmin .content {
	background-color: #eee;
	width: 900px;
	height: 921px;
	float: right;
}

.bodyAdmin .footter {
	margin-top: 921px;
	background-color: rgb(133, 74, 0);
	width: 1100px;
	height: 60px;
	text-align: center;
	color: #fff;
	padding-top: 20px;
}

.loginLaout{
	background: #DDD;
	margin: 0 auto;
	width: 480px;
	height:200px;
	border-radius: 5px;
	margin-top: 15%;

}

.headerLoginAdmin{
	margin-left: 0px;
	padding-left: 10px;
	padding-top: 10px;
	border-radius: 5px;
	font-weight: bold;
	color: #fff;
	height: 30px;
	background-color: #000;
/*
	background-color: #fff;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.35, rgb(165, 3, 3)),
		color-stop(0.68, rgba(165, 3, 3,0.8))
	);*/
}

div.navbar .container.headerLoginAdmin{
	border-radius: 5px;
}

.bodyLoginAdmin{
	margin-top: 20px;
}

.bodyLoginAdmin label{
	margin-top: 5px;
	margin-left: 30px;
}

.headerForm sub{
	position: static;
}

.bodyForm{
	margin-top: 5px;
}

.bodyForm label,.bodyForm table {
	margin-top: 5px;
	/*margin-left: 30px;*/
}

.alertDialog {
	width: 300px;
	left: 60%;
	color: #000;
}

.alertGetMessage{
	width: 800px;
	left: 42%;
}

.sizeContent {
	margin-left: 0;
}

.ckBox{
	margin-top: 0;
	margin-left:40px;
	margin-bottom: 20px;
}

.linkDialog{
	margin-bottom: 10px;
}

.alertCount{
	background-color: #f03d25;
	border: 1px solid #d83722;
	border-bottom: 1px solid #c0311e;
	border-top: 1px solid #e23923;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 2px 2px 0 rgba(126, 126, 126, 0.9);
	padding: 0 4px;

	color: #fff;
	font-size: 11px;
	font-weight: bold;
}

.countBox{
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 2px;
	color: #000;
	font-size: 11px;
	font-weight: bold;
	padding: 1px 5px;
	position: relative;
}

.btnLink {
	margin-bottom: 10px;
}

.logoShop{
	width: 1170px;
	height: 210px;
}

.picShop{
	/*width:220px;*/
	height:250px;
	border: 5px solid #3F0101;
	background-color: #2E210C;
	margin: 0 auto
}

.picShop img{
	width:100%;
	height:250px;
}

.picProduct{
	width:100%;
	height:100%;
}

.picProductBand{
	/*height:150px;*/
	height: 100%;
}

.picProductDetail{
	border: 5px solid #3F0101;
	height:250px;
	width:250px;
	text-align: center;
	background-color: #2E210C;
}

.picProductBox{
	/*background-color: rgba(150, 150, 150, 0.5);*/
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 2px;
	padding: 1px 5px 5px 5px;
	position: relative;
}

.picProductSize{
	/*margin: 6px 3px;*/
	margin: 6px 3px 6px 1px;
	/*width:100px;*/
	/*height:100px;*/
	/*border: 5px solid #3F0101;*/
	border: 5px solid #fff;
	text-align: center;
	background-color: #2E210C;
	cursor:pointer;

	position: relative;
  /*padding-bottom: 100%;*/
  /*float: left;*/
  height: 10px;
}

.loupe { 
	background-color:#555; 
	background:rgba(0, 0, 0, 0.25); 
	border:5px solid rgba(0, 0, 0, 0); 
	cursor:url(blank.png), 
	url(blank.cur), none; 
	width: 300px;
}

.loupe img{ 
	width: 600px;
	max-width: 1000px;
}

.newsPic {
	margin-top: 20px;
	margin-bottom: 50px;
}

a:hover, a:focus {
	color: #999;
	text-decoration:none;
}

a {
	color: inherit;
}

.fixBox{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.datepicker-days{
	cursor: pointer;
	color: #000;
}

.day.new{
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	text-transform: uppercase;
	margin: 0;
	font-size: 10px;
	font-weight: bold;
	border: none;
	background: transparent;
	color: #ccc;
}

.day.old{
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	text-transform: uppercase;
	margin: 0;
	font-size: 10px;
	font-weight: bold;
	border: none;
	background: transparent;
	color: #ccc;
}
.day.active{
	font-weight: bold;
	color: #f00;
}

.day:hover{
	color: #ccc;
}

.layout-table{
	/*background-color: #ccc;*/
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	height: 50px;
	padding-left: 10px;
}

.highslide img {
	border: 0;
}

.news-topic{
	margin-top: 10px;
}

.picProductFix{
	max-height: 300px;
	max-width: 300px;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.topMenuLink li{
	width: 12.2%;
}

.topMenuLink a{
	width: 86%;
	text-align: center;
	font-weight: bold;
}

.bannerMain{
	height: 210px;
	background-image: url('../img/banner_main.png'); 
	background-position:center; 
}

.loginTop{
	font-weight: bold;
	color: #fff;
	text-align: right;
	margin: 20px;
}

.colorchart td{
	width: 10px;
	height: 10px;
}

.tblColorBox {
	width: 100%;
	margin-bottom: 10px;
}

.tblColorBox tr,.tblColorBox td{
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}

.colorBox{
	border: 3px solid;
	border-color: #bbb;
	background-color: #ddd;
	width: 60%;
	cursor: pointer;
}

.activeColorBox{
	border-color: #c00;
}

.row-fluid [class*="margin2"] {
	margin-left: 1%;
}

.picProductBox.margin2 {
	width: 19.2%;
}

.row-fluid [class*="margin2-6"] {
	margin-left: 1%;
}

.picProductBox.margin2-6 {
	width: 15.8%;
}

.modal.hide.fade{
	color: #000;
}

div.footer {
	background-color: #000;
}

.descriptionBox {
	width: 60%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	box-shadow: 0 0 3px #FFF;
	padding: 20px;
}

a.disShopName {
	color: rgb(253, 242, 74);
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

/*a:hover, a:focus {
	color: #999;
	text-decoration:none;
}*/

