/*
 * globals
 */
body { font-family: arial; color: #444; background: #EEE; }
i { margin-right: 5px; }
div.description { font-size: .9em; color: #999; margin-bottom: 20px; }
div.container-fluid { padding-left: 0; padding-right: 0; }
div.field-submit { text-align: left; margin-top: 10px; }
div.clear { clear:both; }
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] { margin-bottom: 10px; }

/*
 * div.navbar
 */
div.navbar .container { border-radius: 0 0 5px 5px; background: #77624c; /* Old browsers */ background: -moz-linear-gradient(top, #77624c 0%, #5b4930 50%, #513d1c 52%, #5b4930 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#77624c), color-stop(50%,#5b4930), color-stop(52%,#513d1c), color-stop(100%,#5b4930)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #77624c 0%,#5b4930 50%,#513d1c 52%,#5b4930 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #77624c 0%,#5b4930 50%,#513d1c 52%,#5b4930 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #77624c 0%,#5b4930 50%,#513d1c 52%,#5b4930 100%); /* IE10+ */ background: linear-gradient(to bottom, #77624c 0%,#5b4930 50%,#513d1c 52%,#5b4930 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77624c', endColorstr='#5b4930',GradientType=0 ); /* IE6-9 */ }
div.navbar .container .brand { color: #EEE; font-size: 1.1em; text-shadow: none; }
div.navbar div.navbar-inner { padding: 0; border: none; }

/*
 * ul.navigation
 */
.navigation ul.navigation { padding: 0; margin: 0; list-style: none; border-radius: 0 0 5px 5px; }
.navigation ul.navigation li { display: inline-block; padding: 0; margin: 0; }
.navigation ul.navigation li a { display: inline-block; padding: 10px; color: #CCC; text-shadow: 0 0 1px #000; }
.navigation ul.navigation li.active a,
.navigation ul.navigation li a:hover { background: #FFF; color: #5C4220; text-shadow: 0 0 1px #FFF; text-decoration: none; opacity: .5 }

/*
 * div.sideleft
 */
div.sideleft { background: #DDD; border-radius: 5px; padding: 10px; margin-bottom: 20px; }
div.sideleft h2 { border-bottom: 1px solid rgba(92, 66, 32, 0.16); color: #5C4220; font-size: 1.2em; padding: 0 0 9px 0; margin: 0 0 10px 0; line-height: 1; }
div.sideleft > div { margin-bottom: 30px; }

/*
 * block
 */
.block ul.links { list-style: circle; margin: 0; padding-left: 16px; }
.block ul.links li a { display: block; color: #333; padding: 5px; }
.block ul.links li a:hover,
.block ul.links li.active a { background: #5b4930; color: #EEE; text-decoration: none; border-radius: 4px; }
.block input[type='text'],
.block input[type='password'] { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 15px 10px; }
#block-advisor img { width: 96%; }

/*
 * div.sideleft div.sideleft-menu
 */
div.sideleft div.sideleft-menu > ul { list-style: none; padding: 0; margin: 0; }
div.sideleft div.sideleft-menu > ul a { clear: both; color: #333; display: block; padding: 5px 0; font-size: 1.1em; }

/*
 * div.statistics
 */
div.statistics .value { text-align: right; }

/*
 * div.main
 */
div.main { margin-bottom: 20px; overflow: hidden; }
div.main h1 { font-size: 2em; color: #5C4220; line-height: 1; margin: 5px 0 10px 0; }
div.main h2 { font-size: 1.8em; color: #5C4220; line-height: 1; margin: 5px 0 10px 0; }
div.main h5 { font-size: 1.6em; color: #5C4220; line-height: 1; margin: 5px 0 10px 0; }
div.main h5 { font-size: 1.4em; color: #5C4220; line-height: 1; margin: 5px 0 10px 0; }
div.main h5 { font-size: 1.2em; color: #5C4220; line-height: 1; margin: 5px 0 10px 0; }

/*
 * register page
 */
#form-register .form-content { padding: 15px 0 }
#form-register .fields { padding-bottom: 19px; border-bottom: 1px dashed #CCC; margin-bottom: 20px; }
#form-register .rules-field p { text-align: justify; text-indent: 20px; }


/*
 * div.footer
 */
div.footer { background: #5b4930; border-radius: 5px; color: #AAA; padding: 10px; margin-bottom: 10px; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
div.footer ul.navigation { padding: 0; margin: 0 0 10px 0; list-style: none; }
div.footer ul.navigation li { display: inline-block; padding: 0 4px 0 5px; border-left: 1px solid #888; }
div.footer ul.navigation li a { display: inline-block; padding: 0 5px; color: #CCC; text-shadow: 0 0 1px #000; }
div.footer ul.navigation li a:hover,
div.footer ul.navigation li a.active { background: none; color: #FFF; text-shadow: none; }
div.footer ul.navigation li:first-child { padding: 0 9px 0 0; border: none; }

/*
 * disipline page
 */
#disipline p { text-align: justify; text-indent: 20px; }
#disipline article { margin-bottom: 20px; margin-top: 20px; padding-bottom: 10px; border-bottom: 1px dashed #CCC }
#disipline article p { text-align: justify; text-indent: 20px; }

/*
 * shoplist
 */
#shoplist .firstChar { margin: 0; padding: 0; list-style: none; }
#shoplist .firstChar li { display: inline-block; }
#shoplist .firstChar li a { padding: 2px 8px; border-radius: 3px; display: inline-block; border: 1px solid #CCC; margin: 4px; }
#shoplist .firstChar li a:first-child { margin: 4px 4px 4px 0; }
#shoplist .items .item { width: 18%; float: left; margin: 0 1% 20px 1%; }
#shoplist .items .item .title { height: 32px; overflow: hidden; font-size: 1.1em; margin: 5px 0; }
#shoplist .items .item .price { font-size: 1.5em; margin: 5px 0; color: #F00; }


/*
 * datepicker
 */
.datepicker { z-index: 999999999999; }

/*
 * contact page
 */
#contact-us-form .field { margin-bottom: 10px; }

/*
 * Media queries
 */
/* Desktop */
@media (min-width: 980px) {
  /*
   * register
   */
  #form-register #user-account,
  #form-register #user-information,
  #form-register #shop-information,
  #form-register #shop-bank-information,
  #form-register #product-reference-simple .row-fluid { width: 48%; float: left; margin: 0 1%; }
  #form-register #shop-payment-information { clear: both; width: 100%; }
}
/* Tablet */
@media (max-width: 980px) {
  /*
   * ul.navigation
   */
  .navigation ul.navigation { list-style: none; margin: 0 !important; padding: 0 !important; background: #77624c; }
  .navigation ul.navigation li { display: block; clear: both; }
  .navigation ul.navigation li a { width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

  /*
   * Shoplist
   */
  #shoplist .items .item { width: 23%; float: left; margin: 0 1% 20px 1%; }
}
/* Phone and Tab */
@media (max-width: 767px) {
  /*
   * block-advisor block-memberlogin
   */
  #block-advisor,
  #block-memberlogin { width: 48%; float: left; margin: 0 1% 20px 1%; }

  #block-advisor { text-align: left; }
  #block-advisor img { max-width: 180px; }

  /*
   * Shoplist
   */
  #shoplist .items .item { width: 23%; float: left; margin: 0 1% 20px 1%; }
}
@media (max-width: 480px) {
  /*
   * block-advisor block-memberlogin
   */
  #block-advisor,
  #block-memberlogin { width: 100%; }

  /*
   * Shoplist
   */
  #shoplist .items .item { width: 48%; float: left; margin: 0 1% 20px 1%; }
}

/* Table Default */
.table-default{
  border-color: #D1B598;
}
.table-default thead tr th{
  background-color: #77624c;
  border-left: 1px solid #D1B598;
  color: #fff;
}
.table-default tbody tr td{
  border-top: 1px solid #D1B598;
  border-left: 1px solid #D1B598;
}